<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<title>HTML CSS Register Form</title>
    <link rel="stylesheet" href="static/style.css">




</head>
<body>

<a href="/" style="float:right;text-decoration:none; padding-right: 200px;" class="hm"><h1 style="color:white;">Home </h1>&nbsp&nbsp&nbsp&nbsp</a> 


  {% if res==0 %}
    <script>
      
        alert("This is a legitimate Transaction")
      
    </script>
  {% endif %}
  {% if res==1 %}
    <script>
      
        alert("This is not a Fraud Transaction")
      
    </script>
  {% endif %}
  <form class="signup-form" action = "{{ url_for('predict') }}" method = "POST">
         
         <div class="form-header">
        <h1>Predict Fraud</h1>
      </div>

      <!-- form body -->
	  
      <div class="form-body">

        <!-- Firstname and Lastname -->
		
        <div >
		
          <div class="form-group left">
            <label for="firstname" class="label-title">Age</label>
            <input type="text" id="firstname" class="form-input" name = "age" placeholder="enter your first age" required="required" />
          </div>
          <div class="form-group left">
		  
            <label for="lastname" class="label-title">Sex&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <select name="sex" width="100" height="48">
  <option value="Male">Male</option>
  <option value="Female">Female</option>
 
</select>
          </div>
        

        <!-- Email -->
        <div class="form-group left">
          <label for="email" class="label-title">Job</label>
          <input type="text" id="email" class="form-input" name = "job" placeholder="enter your job id" required="required">
        </div>

        <!-- Passwrod and confirm password -->
        
          <div class="form-group left">
            <label for="password" class="label-title" >Housing&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <td>
		 <select name="housing">
  <option value="own">own</option>
  <option value="free">free</option>
  <option value="rent">rent</option>
 
</select>
</td>
          </div>
          <div class="form-group left">
            <label for="confirm-password" class="label-title">Saving account&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <select name="saving_account">
  <option value="little">little</option>
  <option value="moderate">moderate</option>
  <option value="quite rich">quite rich</option>
 
</select>
          </div>
        </div>

        <!-- Gender and Hobbies -->
       
          <div class="form-group left">
            <label class="label-title">Checking account&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
            
              <select name="check_acc">
  <option value="little">little</option>
  <option value="moderate">moderate</option>
  <option value="quite rich">quite rich</option>
 
</select>
            
         </div>
          <div class="form-group left">
            <label class="label-title" >Credit amount</label>
            <div >
             <input type="text" id="firstname" name = "credit_amt" class="form-input" placeholder="enter your first name" required="required" />
            </div>
          </div>
        

        <!-- Source of Income and Income -->
        <div >
         <div class="form-group left">
            <label class="label-title">Duration</label>
            <input type="text" id="firstname" name = "duration" class="form-input" placeholder="enter your first name" required="required" />
          </div>
          <div class="form-group left">
            <label for="experience" class="label-title">Purpose&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <select name="purpose">
  <option value="car">car</option>
  <option value="radio/TV">radio/TV</option>
  <option value="furniture/equipment">furniture/equipment</option>
  <option value="business">business</option>
  <option value="education">education</option>
  <option value="repairs">repairs</option>
  <option value="domestic appliances">domestic appliances</option>
   <option value="dvacation/others">vacation/others</option>
 
</select>
          </div>
        </div>

        
      <!-- form-footer -->
      <div class="form-footer">
        
        <button type="submit" class="btn" value="submit">Submit</button>
      </div>

    </form>

  
   

</body>

</html>